.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(229, 204, 255);
    display: inline-block;
  }
  
  .node-finish {
    background-image:url(finish.svg);
  }
  
  .node-start {
    background-image:url(start.svg);
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(153, 0, 0, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(255, 102, 102, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(255, 0, 0, 0.75);
      border-radius: 100%;
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(153, 0, 153, 0.75);
      border-radius: 100%;
    }
  }
  
  .node-wall {
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(0, 0, 204);
      border-radius: 100%;
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(0, 0, 204);
      border-radius: 100%;
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(0, 0, 204);
      border-radius: 100%;
    }
  }